extends layout

block content
  h1= title

  input( type="button", data-control="toggle", value="Play" )
  input( type="button", data-control="pause", value="Pause" )
  input( type="button", data-control="volup", value="Volume Up" )
  input( type="button", data-control="voldown", value="Volume Down" )
  input( type="button", data-control="toggle", value="Toggle" )
  input( type="button", data-control="previous", value="<<" )
  input( type="button", data-control="next", value=">>" )
