extends layout

block content
  h1= title

  form( name="input", action="toggle", method="post" )
    input( type="submit", value="Play" )

  form( name="input", action="toggle", method="post" )
    input( type="submit", value="Pause" )

  form(name="input", action="volup", method="post")
    input(type="submit", value="Volume Up" )

  form(name="input", action="voldown", method="post")
    input(type="submit", value="Volume Down" )

  form(name="input", action="toggle", method="post")
    input(type="button", value="Toggle" )

  form(name="input", action="next", method="post")
    input(type="submit", value=">>" )

  form(name="input", action="previous", method="post")
    input(type="submit", value="<<" )
