extends layout

block content
  h1= title

  form( name="input", action="toggle", method="get" )
    input( type="submit", value="Play" )

  form( name="input", action="toggle", method="get" )
    input( type="submit", value="Pause" )

  form(name="input", action="volup", method="get")
    input(type="submit", value="Volume Up" )

  form(name="input", action="voldown", method="get")
    input(type="submit", value="Volume Down" )

  form(name="input", action="toggle", method="get")
    input(type="submit", value="Toggle" )
